@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Open+Sans:wght@800&family=Russo+One&display=swap');

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: #762fcf;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
    padding-bottom: 60px;
}

.titu {
    font-size: 24px;
    padding-left: 10px;
}

.menu-iten {
    margin-left: 440px;
}

.menu-iten, .menu-item {
    padding: 40px;
    font-size: 20px;
}

.menu-iten>a,
.menu-item>a {
    text-decoration: none;
    color: #ffffff;
}

.menu-item>a:hover,
.menu-iten>a:hover {
    color: rgb(216, 213, 213);
}

#conteudo-p1 {
    display: flex;
    justify-content: space-around;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #ffffff;
}

.lici {
    padding-left: 100px;
}

.inter {
    padding-left: 150px;
}

.entre {
    padding: 20px 60px;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    background: #f44926;
    margin-left: 120px;
}

.entre:hover {
    background: #f75534;
    cursor: pointer;
}

.entre>a {
    text-decoration: none;
    color: #ffffff;
}

#servicos {
    margin-top: 150px;
    background: #1a036b;
    padding-bottom: 600px;
}

.titulo-servicos {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 55px;
    color: #ffffff;
    font-family: 'Russo One', sans-serif;
}

.servico1, .servico2 {
    width: 450px;
    background: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 10px 10px;
    float: left;
}

.servico2 {
    padding: 10px 10px 55px 10px;
    margin-left: 200px;
}

.servico1 {
    margin-left: 115px;
}

h4 {
    color: #f44926;
    font-family: 'Russo One', sans-serif;
}

.texto-controle {
    font-family: 'Archivo Black', sans-serif;
}

#sobre {
    background: #151a34;
}

.nos {
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
    font-size: 55px;
    color: #f9b850;
    font-family: 'Russo One', sans-serif;
}

.texto-sobre {
    width: 1100px;
    font-size: 20px;
    text-align: justify;
    margin-left: 120px;
    font-family: 'Archivo Black', sans-serif;
    color: #fffefe;
}

.span1, .span2 {
    float: left;
    margin-left: 220px;
    padding-top: 10px;
}

.span2 {
    margin-left: 300px;
}

.texto-en {
    font-size: 30px;
    color: #f9b850;
    font-family: 'Russo One', sans-serif;
}

.en {
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    color: #ffffff;
}

.img-insta {
    padding-top: 75px;
    margin-left: 620px;
    padding-bottom: 30px;
}

#contato {
    background: #150235;
    padding-top: 90px;
}

h2 {
    margin-top: 0; 
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

form {
    display: block;
    width: 350px;
    height: 350px;
    margin-left: 500px;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 120px;
    background: rgb(9, 1, 82);
    border-radius: 10px;
}

.fa, .em, .no {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.input-nome, .input-email {
    padding: 13px 140px 13px 0px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
}

textarea {
    border-radius: 5px;
    border: none;
    width: 305px;
    height: 80px;
    resize: none;
    padding-left: 5px;
    color: black;
    margin-bottom: 20px;
}

.submit {
    padding: 20px 110px 20px 110px;
    margin-left: 25px;
    border: none;
    border-radius: 40px;
    background: #f44926;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.submit:hover {
    background: #f75534;
    cursor: pointer;
}

.rodape {
    color: #bcbbbc;
    font-family: 'Russo One', sans-serif;
    font-size: 19px;
    padding-top: 60px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
}